@font-face{
    font-family: 'Arimo';
    src: url('../fonts/AriR/Arimo.eot');
    src: url('../fonts/AriR/Arimo.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AriR/Arimo.woff2') format('woff2'),
        url('../fonts/AriR/Arimo.woff') format('woff'),
        url('../fonts/AriR/Arimo.ttf')  format('truetype'),
        url('../fonts/AriR/Arimo.svg#Arimo') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Arimo';
    src: url('../fonts/AriB/Arimo-Bold.eot');
    src: url('../fonts/AriB/Arimo-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AriB/Arimo-Bold.woff2') format('woff2'),
        url('../fonts/AriB/Arimo-Bold.woff') format('woff'),
        url('../fonts/AriB/Arimo-Bold.ttf')  format('truetype'),
        url('../fonts/AriB/Arimo-Bold.svg#Arimo') format('svg');
    font-weight: bold;
    font-style: normal;
}

body{
    background-color: #3a4965;
    width: 100%;
    height: 100%;
    font-family: 'Arimo', sans-serif;

}

.table{
    margin: 60px auto;
    text-align: center;
    width: 1141px;
    height: 700px;
}

table {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
table, th, td, tr {
    vertical-align: middle;
    border-collapse: collapse;
    box-shadow: inset 25px 0px 4px -25px rgba(0, 0, 0, 0.27), inset -25px 0px 2px -25px rgba(0, 0, 0, 0.27);
}

thead tr {
    font-size: 24px;
    background-color: #fff;
    height: 86px;
}

thead th{
    background-color: #fff;
    height: 86px;
    font-family: 'Arimo', sans-serif;
    color:  #ffffff;
    font-size: 30px;
    font-weight: bold;
    line-height: 28px;
}

thead th:nth-child(1){
    color: black;
}

thead th:nth-child(2){
    background-color: #89c331;
}

thead th:nth-child(3){
    background-color: #f04a56;
}

thead th:nth-child(4){
    background-color: #20807c;
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}
tbody tr:nth-child(even) {
    background-color: #e3e3e3;
}

tbody td{
    font-family: 'Arimo', sans-serif;
    color:  #484848;
    font-size: 16px;
    font-weight: normal;
    line-height: 28px
}

tfoot td{
    background-color: #fff;
    height: 86px;
    font-family: 'Arimo', sans-serif;
    color:  #484848;
    font-size: 16px;
    font-weight: normal;
    line-height: 28px
}

button{
    padding: 0;
    border: none;
    font: inherit;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
}

.btn1{
    background-color: #484848;
    width: 192px;
    height: 49px;
    border-radius: 5px;
}

.btn1:hover{
    background-color: rgb(64, 64, 64);
}

.btn2{
    background-color: #89c331;
    width: 192px;
    height: 49px;
    border-radius: 5px;
}

.btn2:hover{
    background-color: rgb(121, 176, 39);
}

.btn3{
    background-color: #f04a56;
    width: 192px;
    height: 49px;
    border-radius: 5px;
}

.btn3:hover{
    background-color: rgb(223, 58, 70);
}

.btn4{
    background-color: #20807c;
    width: 192px;
    height: 49px;
    border-radius: 5px;
}

.btn4:hover{
    background-color: rgb(22, 115, 111);
}

.cents div{
    float: left;
    padding-left: 30px;
    box-sizing: border-box;
    font-size: 60px;
    line-height: 49px;
    font-weight: bold;
}

.cents{
    text-align: left;
}

.cents p:first-of-type{
    font-size: 24px;
    vertical-align: top;
    font-weight: bold;
}

.cents p:nth-of-type(2){
    font-size: 18px;
}

.tbl-head p:nth-of-type(1){
    font-size: 18px;
}

.fas {
    color: #848484;
    font-size: 24px;
    padding-right: 5px;
}

.far {
    color: #848484;
    font-size: 24px;
    padding-right: 5px;
}

