@font-face{
    font-family: 'Arimo';
    src: url('../fonts/AriR/Arimo.eot');
    src: url('../fonts/AriR/Arimo.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AriR/Arimo.woff2') format('woff2'),
        url('../fonts/AriR/Arimo.woff') format('woff'),
        url('../fonts/AriR/Arimo.ttf')  format('truetype'),
        url('../fonts/AriR/Arimo.svg#Arimo') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Arimo';
    src: url('../fonts/AriB/Arimo-Bold.eot');
    src: url('../fonts/AriB/Arimo-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AriB/Arimo-Bold.woff2') format('woff2'),
        url('../fonts/AriB/Arimo-Bold.woff') format('woff'),
        url('../fonts/AriB/Arimo-Bold.ttf')  format('truetype'),
        url('../fonts/AriB/Arimo-Bold.svg#Arimo') format('svg');
    font-weight: bold;
    font-style: normal;
}

body{
    background-color: #3a4965;
    width: 100%;
    height: 100%;
    font-family: 'Arimo', sans-serif;

}

.table{
    margin: 100px auto;
    text-align: center;
    width: 1140px;
}

table, th, td, tr {
    vertical-align: middle;
    border-collapse: collapse;
    text-align: center;
    box-shadow: inset 0px 25px 5px -25px rgba(0, 0, 0, 0.27);
}

thead tr th{
    height: 112px;
    font-family: 'Arimo', sans-serif;
    color:  #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: black;
}

tbody tr td:nth-child(odd) {
    background-color: #f2f2f2;
}
tbody tr td:nth-child(even) {
    background-color: #e3e3e3;
}

thead tr th:nth-child(odd) {
    background-color: #f2f2f2;
}
thead tr th:nth-child(even) {
    background-color: #e3e3e3;
}

tbody td{
    font-family: 'Arimo', sans-serif;
    color:  #484848;
    font-size: 16px;
    font-weight: normal;
    line-height: 28px;
    height: 166px;
    width: 157px;
}

tbody td:first-child{
    font-weight: bold;
    font-size: 24px;
}

tbody tr:nth-child(1) td:nth-child(1){
    background-color: #89c331;
    width: 198px;
    color: #fff;
}

tbody tr:nth-child(2) td:nth-child(1){
    background-color: #f04a56;
    width: 198px;
    color: #fff;
}

tbody tr:nth-child(3) td:nth-child(1){
    background-color: #20807c;
    width: 198px;
    color: #fff;
}

button{
    padding: 0;
    border: none;
    font: inherit;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
}

.btn1{
    background-color: #414141;
    width: 144px;
    height: 41px;
    border-radius: 5px;
}

.btn1:hover{
    background-color: rgb(52, 52, 52);
}

th span{
    font-size: 14px;
}

td p:nth-child(2){
    font-size: 36px;
    padding-top: 10px;
    padding-bottom: 15px;
}

td span:nth-child(1){
    font-size: 18px;
    vertical-align: text-top;
}

td span:nth-child(2){
    font-size: 14px;
}

.fas {
    color: #848484;
    font-size: 24px;
    padding-right: 5px;
}

.far {
    color: #848484;
    font-size: 24px;
    padding-right: 5px;
}